In [56]:
import pandas as pd

In [57]:
df = pd.read_csv("adult.csv")
df.sample(5)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
23727,46,Private,251243,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K
26131,40,Self-emp-not-inc,406811,Some-college,10,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,United-States,>50K
26327,22,Private,148294,11th,7,Never-married,Craft-repair,Own-child,White,Male,0,0,35,United-States,<=50K
12514,49,Private,185385,Assoc-acdm,12,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
27573,26,Private,189219,Assoc-acdm,12,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,8,United-States,<=50K

In [58]:
df.shape

(32561, 15)

In [59]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [60]:
df.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [61]:
df.columns = df.columns.str.replace('-', '_')
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [63]:
categorical_cols = df.select_dtypes(include='object').columns.tolist()
numeric_cols = df.select_dtypes(include=['int64','float64']).columns.tolist()

categorical_cols, numeric_cols

(['workclass',
  'education',
  'marital.status',
  'occupation',
  'relationship',
  'race',
  'sex',
  'native.country',
  'income'],
 ['age',
  'fnlwgt',
  'education.num',
  'capital.gain',
  'capital.loss',
  'hours.per.week'])

In [64]:
df[categorical_cols] = df[categorical_cols].replace("?", pd.NA)

for col in categorical_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

/tmp/ipython-input-3472090985.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [65]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [66]:
import numpy as np
import pandas as pd

In [67]:
df = pd.read_csv('adult.csv')
df.sample(5)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
944,30,Private,220148,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1848,50,United-States,>50K
16084,68,Private,217424,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,24,United-States,<=50K
15333,39,Private,181943,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,35,United-States,<=50K
29688,22,Private,89991,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,0,11,United-States,<=50K
23408,41,Private,142579,Bachelors,13,Widowed,Sales,Unmarried,Black,Male,0,0,50,United-States,<=50K

In [68]:
df.shape

(32561, 15)

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [70]:
df.describe

<bound method NDFrame.describe of        age workclass  fnlwgt     education  education.num      marital.status  \
0       90         ?   77053       HS-grad              9             Widowed
1       82   Private  132870       HS-grad              9             Widowed
2       66         ?  186061  Some-college             10             Widowed
3       54   Private  140359       7th-8th              4            Divorced
4       41   Private  264663  Some-college             10           Separated
...    ...       ...     ...           ...            ...                 ...
32556   22   Private  310152  Some-college             10       Never-married
32557   27   Private  257302    Assoc-acdm             12  Married-civ-spouse
32558   40   Private  154374       HS-grad              9  Married-civ-spouse
32559   58   Private  151910       HS-grad              9             Widowed
32560   22   Private  201490       HS-grad              9       Never-married

              occupation   relationship   race     sex  capital.gain  \
0                      ?  Not-in-family  White  Female             0
1        Exec-managerial  Not-in-family  White  Female             0
2                      ?      Unmarried  Black  Female             0
3      Machine-op-inspct      Unmarried  White  Female             0
4         Prof-specialty      Own-child  White  Female             0
...                  ...            ...    ...     ...           ...
32556    Protective-serv  Not-in-family  White    Male             0
32557       Tech-support           Wife  White  Female             0
32558  Machine-op-inspct        Husband  White    Male             0
32559       Adm-clerical      Unmarried  White  Female             0
32560       Adm-clerical      Own-child  White    Male             0

       capital.loss  hours.per.week native.country income
0              4356              40  United-States  <=50K
1              4356              18  United-States  <=50K
2              4356              40  United-States  <=50K
3              3900              40  United-States  <=50K
4              3900              40  United-States  <=50K
...             ...             ...            ...    ...
32556             0              40  United-States  <=50K
32557             0              38  United-States  <=50K
32558             0              40  United-States   >50K
32559             0              40  United-States  <=50K
32560             0              20  United-States  <=50K

[32561 rows x 15 columns]>

In [71]:
# Clean Column Names
df.columns = df.columns.str.replace('-', '_')
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [72]:
#Identify Categorical + Numeric Columns
categorical_cols = df.select_dtypes(include='object').columns.tolist()
numeric_cols = df.select_dtypes(include=['int64','float64']).columns.tolist()

categorical_cols, numeric_cols

(['workclass',
  'education',
  'marital.status',
  'occupation',
  'relationship',
  'race',
  'sex',
  'native.country',
  'income'],
 ['age',
  'fnlwgt',
  'education.num',
  'capital.gain',
  'capital.loss',
  'hours.per.week'])

In [73]:
#Handle Missing Categorical Values
df[categorical_cols] = df[categorical_cols].replace("?", pd.NA)

# Impute missing values (most frequent category)
for col in categorical_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

/tmp/ipython-input-3214715751.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [74]:
#Label Encoding (each column separately)
from sklearn.preprocessing import LabelEncoder

df_label = df.copy()
le_dict = {}

for col in categorical_cols:
    le = LabelEncoder()
    df_label[col] = le.fit_transform(df_label[col])
    le_dict[col] = le

df_label.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,3,77053,11,9,6,9,1,4,0,0,4356,40,38,0
1,82,3,132870,11,9,6,3,1,4,0,0,4356,18,38,0
2,66,3,186061,15,10,6,9,4,2,0,0,4356,40,38,0
3,54,3,140359,5,4,0,6,4,4,0,0,3900,40,38,0
4,41,3,264663,15,10,5,9,3,4,0,0,3900,40,38,0

In [75]:
#Frequency Encoding
df_freq = df.copy()

for col in categorical_cols:
    freq = df_freq[col].value_counts()
    df_freq[col] = df_freq[col].map(freq)

df_freq.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,24532,77053,10501,9,993,5983,8305,27816,10771,0,4356,40,29753,24720
1,82,24532,132870,10501,9,993,4066,8305,27816,10771,0,4356,18,29753,24720
2,66,24532,186061,7291,10,993,5983,3446,3124,10771,0,4356,40,29753,24720
3,54,24532,140359,646,4,4443,2002,3446,27816,10771,0,3900,40,29753,24720
4,41,24532,264663,7291,10,1025,5983,5068,27816,10771,0,3900,40,29753,24720

In [76]:
# Target Encoding
df_target = df.copy()
target_col_name = "income"

# Convert target column to numerical (0 or 1) for encoding
df_target[target_col_name] = df_target[target_col_name].apply(lambda x: 1 if x == ">50K" else 0)

# Identify categorical features to be target encoded (excluding the target column itself)
categorical_features_for_target_encoding = [col for col in categorical_cols if col != target_col_name]

for col in categorical_features_for_target_encoding:
    # Calculate the mean of the target for each category
    means = df_target.groupby(col)[target_col_name].mean()
    df_target[col] = df_target[col].map(means)

df_target.head()


from sklearn.model_selection import train_test_split
import pandas as pd

# Prepare features for one-hot encoding
features_to_onehot = [col for col in categorical_cols if col != 'income']

# Combine numeric columns and one-hot encoded categorical features for X
X = pd.get_dummies(df[numeric_cols + features_to_onehot], columns=features_to_onehot, drop_first=True)

y = df['income'].apply(lambda x: 1 if x == ">50K" else 0)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [77]:
# Handle Imbalanced Dataset
from imblearn.over_sampling import SMOTE

sm = SMOTE(random_state=42)
X_train_sm, y_train_sm = sm.fit_resample(X_train, y_train)

print("Before SMOTE:", y_train.value_counts())
print("After SMOTE:", y_train_sm.value_counts())

Before SMOTE: income
0    18523
1     5897
Name: count, dtype: int64
After SMOTE: income
1    18523
0    18523
Name: count, dtype: int64

In [78]:
# Train Random Forest Classifier

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

rf = RandomForestClassifier(n_estimators=200, random_state=42)
rf.fit(X_train_sm, y_train_sm)

y_pred = rf.predict(X_test)

In [79]:
# Model Evaluation
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.843631003562216

Classification Report:
               precision    recall  f1-score   support

           0       0.89      0.91      0.90      6197
           1       0.68      0.64      0.66      1944

    accuracy                           0.84      8141
   macro avg       0.79      0.77      0.78      8141
weighted avg       0.84      0.84      0.84      8141